<button class="btn btn-primary mb-5" routerLink="/">Go to Main Page</button>
<div class="container container3">
  <div class="d-flex px-5">
    <button class="btnS w-50" [ngClass]="{'btnS-secondary': !isLogin, 'btnS-primary': isLogin}" 
      (click)="showLogin()">Login</button>
    <button class="btnS w-50" [ngClass]="{'btnS-secondary': isLogin, 'btnS-primary': !isLogin}" 
      (click)="showRegister()">Register</button>
  </div>

  <div style="max-width: min(calc(100vw - 10px), 600px); margin:auto;">
    <app-login *ngIf="isLogin"></app-login>
    <app-register *ngIf="!isLogin"></app-register>
  </div>
</div>