
<a href="{{(loggedInUser$|async)}}"></a>
<div class="post card mb-3" [routerLink]="['/post']" [queryParams]="{id:post?.id}" style="cursor: pointer;" [class.mypost]="isMyPost">
  <div class="card-header .postTitleTitle d-flex justify-content-between" style="height: 24px; padding-top: 1px; border-bottom-color: rgb(110, 110, 110);">
    <span style="color: rgb(181, 181, 255);" [routerLink]="['/user']" [queryParams]="{id: post?.user?.id}">@{{ post?.user?.username }}</span>
    <span style="color:grey">{{ getPostDate() }}</span>
    
  </div>
  <div class="card-header postTitle d-flex justify-content-between">
    <a class="postTitle" [routerLink]="['/post', post?.id]">{{ post?.title }}</a>
    <div style="border-left: 1px solid grey; padding-left: 10px; margin-top: -7px; margin-bottom: -7px; padding-top: 4px;">
      <button class="btn vote px-1" [class.upvote] = "post?.userVote && post?.userVote.positive == true" (click)="onUpvote($event)">👍</button>
      <span style="font-size: 17px;">{{ votes }}</span>
      <button class="btn vote px-1"  [class.upvote] = "post?.userVote && post?.userVote.positive == false" (click)="onDownvote($event)">👎</button>
    </div>
  </div>
  <div *ngIf="post?.images?.length" [attr.id]="'carouselControls' + index" class="carousel slide" data-bs-ride="carousel"  (click)="$event.stopPropagation()">
      <div class="carousel-inner">
        <div *ngFor="let image of post?.images; let isFirst = first" class="carousel-item" [ngClass]="{'active': isFirst}">
          <img [src]="image" class="d-block w-100" alt="...">
        </div>
      </div>
      <button *ngIf="post && post?.images!.length > 1" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselControls' + index" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button *ngIf="post && post?.images!.length > 1" class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselControls' + index" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <hr style="border-color: white; margin: 0px;">
    </div>
    <div class="card-body">
      <p class="card-text" style="white-space: pre-wrap;">{{ post?.text }}</p>
    </div>
  </div>
<!-- 
  Carousel buttons dont work (image doesnt change), to fix:
  1. Add the following to the top of the file:
  import { ViewChild, ElementRef, AfterViewInit } from '@angular/core';
  2. Add the following to the class:
  @ViewChild('carousel') carousel: ElementRef;
  3. Add the following to the class:
  ngAfterViewInit() {
    this.carousel.nativeElement.addEventListener('slide.bs.carousel', () => {
      this.carousel.nativeElement.classList.add('sliding');
    });

    this.carousel.nativeElement.addEventListener('slid.bs.carousel', () => {
      this.carousel.nativeElement.classList.remove('sliding');
    });
  }
  4. Add the following to the carousel div:
  #carousel="bs-carousel"
  5. Add the following to the carousel buttons:
  (click)="carousel.prev()"
  (click)="carousel.next()"
  [interval]="false"
  [noPause]="true"
  [noWrap]="true"
  [keyboard]="false"
  [pauseOnHover]="false"
  [pauseOnFocus]="false"
  [touch]="false"
  [ride]="false"
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  

 -->