
<div class="col-md-6 col-sm-12 p-3 order-3 order-md-2" >
  <ng-container [ngTemplateOutlet]="head"></ng-container>
  
    <div class="Xcontainer mt-3">

    <ng-container *ngrxLet="posts$ as posts">
      <app-post *ngFor="let post of posts let i = index" [inputPost]="posts[i]" [index]="i"></app-post>
      </ng-container>
      <h1 *ngIf="(posts$|async)?.length==0" style="color: grey; text-align: center;">No posts found.</h1>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 p-3 pt-5 order-2 order-md-3" style="color: white;">
    
    <div class="sidebar p-3">
      <h3 class="fw-bold" style="font-size: 17px;">All Users ({{allUsers.length}}):</h3>
      
        <div *ngFor="let user of allUsers" class="allUsers" style="padding-left: 10px;">
            <p (click)="mainPage.goProfile(user.id)" style="cursor: pointer;">{{user.username}}</p>
        </div>
    </div>
  </div>