<form (submit)="onLogin()" class="p-5 rounded" #registerForm="ngForm">
  <h2 class="text-center" style="color: white;">Login</h2>
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Username" 
    [(ngModel)]="username" #username2="ngModel" required minlength="4"
      [ngClass]="{'is-invalid': (username2.invalid && (username2.dirty || username2.touched))}">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Password"
    [(ngModel)]="password" required minlength="3" #password2="ngModel"
      [ngClass]="{'is-invalid': password2.invalid && (password2.dirty || password2.touched)}">
  </div>
  <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary w-100 mt-4">Login</button>
</form>
<h1 *ngIf="(error$|async)" class="text-center" style="color: red;">{{(error$|async)}}</h1>
<!-- <p *ngIf="loggedIn" class="alert alert-success">Logged in as: {{ username }}</p> -->
