
<div class="col-md-8 col-sm-12 p-3 order-3 order-md-2" >
        
  <app-creator *ngIf="isMyFeed==false"></app-creator>
  <hr *ngIf="isMyFeed==false">
  <div class="Xcontainer mt-3">
    <app-post *ngFor="let post of (posts$ | async) let i = index" [post]="post" [index]="i"></app-post>
  </div>
</div>
<div class="col-md-2 col-sm-12 bg-light p-3 order-2 order-md-3">
  
  <div class="sidebar">
    <h3>Following</h3>
    <ul>
        <li><a href="#">Subreddit 1</a></li>
        <li><a href="#">Subreddit 2</a></li>
        <li><a href="#">Subreddit 3</a></li>
    </ul>
  </div>
</div>