<div class="card p-3 Xcontainer">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="text" placeholder="Title" class="form-control" id="title" formControlName="title" required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" placeholder="Post Text" id="text" rows="3" formControlName="text" required></textarea>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <input type="url" class="form-control" id="image" formControlName="image" placeholder="https://image-example.com">
          <button class="btn btn-outline-secondary" type="button" (click)="onAddImage()">Add Image</button>
        </div>
        <div *ngFor="let image of images; let i = index" class="mt-2 d-flex justify-content-between align-items-center">
          <a [href]="image" target="_blank">{{ image }}</a>
          <button class="btn btn-danger btn-sm" type="button" (click)="onRemoveImage(i)">Remove Image</button>
        </div>
      </div>
      <button type="submit" class="btn" [ngClass]="{'btn-primary': (!postForm.invalid), 'btn-secondary': (postForm.invalid)}" style="border-radius: 19px; padding:7px; font-weight: bold;" [disabled]="postForm.invalid">&nbsp; &nbsp; &nbsp; &nbsp; Post &nbsp; &nbsp; &nbsp; &nbsp;</button>
    </form>
  </div>